@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.root {
    -fx-font-family: 'Roboto';
    -fx-font-size: 16;
    -fx-text-fill: '#17202A';
    -fx-background-color: '#FFFFFF';
    -fx-accent: '#6F3198';
    -fx-focus-color: '#6F3198';
    -fx-cell-hover-color: '#6F3198';
}

.button {
    -fx-text-fill: '#FFFFFF';
    -fx-background-color: '#6F3198';
    -fx-background-radius: 15;
    -fx-padding: 15;
    -fx-pref-width: 200;
    -fx-font-weight: 700;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0.5, 0.0, 0.0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.text-field {
    -fx-max-width: 500;
    -fx-min-height: 30;
    -fx-background-radius: 10;
}

#secondary-button {
    -fx-background-color: '#17202A';
    -fx-pref-width: 150;
}

#settings-button {
    -fx-background-color: '#FFFFFF';
    -fx-text-fill: '#17202A';
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-padding: 5;
    -fx-background-radius: 50;
    -fx-font-size: 25;
}

#settings-button:hover {
    -fx-background-color: '#EAECEE';
    -fx-effect: null;
    -fx-scale-x: 1;
    -fx-scale-y: 1;

}

#welcome-heading {
    -fx-font-size: 40;
    -fx-font-weight: 900;
}

#heading {
    -fx-font-size: 24;
    -fx-font-weight: 900;
}

#larger-heading {
    -fx-font-size: 30;
    -fx-font-weight: 900;
}

#user-heading {
    -fx-font-weight: 700;
}

#add-quiz-box {
    -fx-alignment: 'CENTER';
    -fx-pref-width: 200;
    -fx-pref-height: 200;
    -fx-background-color: '#EAECEE';
    -fx-cursor: hand;
    -fx-background-radius: 10;
}

.combo-box-base {
    -fx-background-color: '#17202A';
    -fx-background-radius: 10;
}

.combo-box .arrow {
    -fx-background-color: '#FFFFFF';
    -fx-size: 5;
}

.combo-box .list-cell:selected{
    -fx-text-fill: '#FFFFFF';
}

#logout-link:hover {
    -fx-font-weight: 700;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


